.book {
    display: flex;
    padding-top: 20px;
}

.book-cover {
    width: 100px;
    height: 150px;
    background-color: #9b4b00;
}

.book-info {
    flex-grow: 1;
    padding-left: 20px;
}

.book-cover button {
    display: none;
}

.book-cover:hover button {
    display: block;
}